# Core App
streamlit
pandas
numpy

# Excel Support
openpyxl
xlsxwriter

# Text Processing & ML
scikit-learn
transformers==4.54.1
torch
langchain-community==0.3.21
# Topic Modeling
bertopic==0.17.3

# Optional: Visualization
matplotlib
